Package: com.null.titanox
Name: Titanox Diagnostics
Version: 0.2.0
Architecture: iphoneos-arm64
Description: Hardware breakpoint diagnostics for Nulls Brawl
Maintainer: null
Author: null
Section: Tweaks